/* src/components/Home.css */

.home {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #504f4f;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home h1 {
    color: #eedc12;
    margin: 10px 0;
}

.home h3 {
    color: #f5e90e;
    margin-bottom: 20px;
}

.home p {
    color: #fffb00;
    font-size: 1.5em;
    font-weight: bold;
}

.profile-image {
    width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /* Optional for circular image */
    border: 2px solid #000; /* Optional border */
    margin-top: 20px; /* Space above the image */
}
