/* src/components/ProjectList.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #333;
  }
  
  .card-container h2 {
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .card {
    margin: 10px;
    flex: 1 1 300px; /* Adjust width to your preference */
    max-width: 300px;
  }
  